<div class="container ">
  <div class=" row">
    <h3 class="col-8">Post</h3>
    <select class="custom-select col-4" formControlName="category" placeholder="Filtrar por categoria">
      <option selected>Selecciona categoria</option>
      <option value="1">Consejos</option>
      <option value="2">Bebes</option>
      <option value="3">Niños</option>
    </select>
  </div>
  <div class="row">
    <div class="card col-5 m-5" style="width: 18rem;" *ngFor="let post of listaPosts">
      <div class="row">
        <div class="col-12 text-center">
          <h3 class="card-title col-12 mt-3 ">{{post.title}}</h3>
        </div>
        <div class="imgContainer m-auto col-11">
          <img [src]="post.image" class="card-img ">
          <div class="col-12">
            <p class="card-text text-center my-2">{{post.text}}
            </p>
          </div>
          <div class="card-body row col-12 ml-1">

            <p class="card-text col-6 author">Escrito por: {{post.author}}</p>

            <a href="#" class="btn btn-primary w-25 col-6">Eliminar</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
