/* You can add global styles to this file, and also import other style files */
input:focus,
select:focus,
button:focus,
textarea:focus,
input.form-control:focus,
select.form-control:focus,
button.form-control:focus,
textarea.form-control:focus {

  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
